@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Outfit";
  background: #141721;
  color: #fff;
  position: relative;
}

#canvas {
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
}

#form-container {
  background-color: rgba(153, 90, 242, 0.1);
  border: 2px solid #995af2;
  z-index: 999;
}

#form-container input {
  display: block;
  width: 100%;
  line-height: 1.5;
  background: none;
  border: none;
  border-bottom: 2px solid rgba(153, 90, 242, 0.1);
  border-radius: 0;
  color: #fff;
}

a {
  color: #995af2;
}

a.brand {
  text-decoration: none;
  font-size: 1.4rem;
  font-family: "Rajdhani";
  font-weight: 800;
  color: #fff;
  display: block;
  margin-bottom: 12px;
}

a.brand .icon {
  position: relative;
  margin-right: 12px;
}

a.brand .icon::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #995af2;
  z-index: -1;
  left: -8px;
  top: -2px;
  transform: rotate(45deg);
  border-radius: 4px;
  transition: transform 0.1s linear;
}

a.brand:hover .icon::before {
  transform: rotate(0deg);
}

a.brand .icon-brand {
  color: #995af2;
}

#form-container input:focus {
  border-bottom: 2px solid #995af2;
  outline: none;
}

#form-container button[type="submit"] {
  background: rgba(153, 90, 242, 0.1);
  color: #fff;
}

#form-container button[type="submit"]:hover {
  background: #995af2;
  color: #fff;
}

#form-container .desc {
  color: #94a3b8;
}

#toggle-visibility.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
