@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {
  background: url("/images/background_login.webp");
  font-family: "Outfit";
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  backdrop-filter: blur(20px);
  z-index: -1;
}

#form-container {
  background: #fff;
  border: 1px solid #fff;
  color: #000;
}

#form-container input {
  display: block;
  width: 100%;
  line-height: 1.5;
  background: none;
  color: #000;
  border: none;
  border-bottom: 2px solid #ddd;
  border-radius: 0;
}

#form-container input:focus {
  border-bottom: 2px solid indigo;
  outline: none;
}

#form-container button[type=submit] {
  background: indigo;
  color: #fff;
}

#form-container button[type=submit]:hover {
  background: #56098dff;
  color: #fff;
}

#toggle-visibility.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
