.form-container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
}

#canvas2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

h3 {
  background: linear-gradient(to right, #9d5aef, #e649b8);
  color: transparent;
  background-clip: text;
}

.card {
  background: #141721;
  color: #94a3b8;
  border: 2px solid #995af2 !important;
}

textarea {
  resize: none;
}

select,
input,
textarea {
  outline: none !important;
  border: 1px solid #9d5aef !important;
}

select:active {
  outline: none !important;
  border: none !important;
}

select:focus {
  background: #141721 !important;
  color: #94a3b8 !important;
}

option:checked {
  background: rgba(153, 90, 242, 0.3);
}

input,
select,
textarea {
  border: none;
  background: none !important;
  color: #94a3b8 !important;
}

input[type="file"]::file-selector-button {
  background: rgba(153, 90, 242, 0.3);
  color: #94a3b8 !important;
}

input::placeholder,
input[type="file"]::placeholder,
textarea::placeholder {
  color: #94a3b8 !important;
}

button[type="submit"] {
  background: rgba(153, 90, 242, 0.1);
  color: #fff;
}

button[type="submit"]:hover {
  background: #995af2;
  color: #fff;
}

button[type="submit"]:disabled {
  cursor: not-allowed !important;
  opacity: 0.6;
  border: none;
}

#btnText {
  font-size: 1.2rem;
  font-weight: 400;
}


#cke_34,
#cke_1_resizer,
#cke_48,
#cke_27 {
  display: none;
}
