@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

:root {
  --bg-primary: #141721;
  --bg-secondary: #272333;
}

body {
  font-family: "Outfit";
  background-color: #141721;
}

.navbar {
  background: var(--bg-primary);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
}

.navbar-brand {
  font-weight: 800;
  letter-spacing: 1px;
  color: #fff !important;
}

.nav-link {
  color: #94a3b8 !important;
  font-weight: 500;
  margin: 0 10px;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #995af2;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover {
  color: #fff !important;
}

.btn-login {
  background: #995af2;
  color: white;
  border-radius: 20px;
  padding: 8px 25px;
  font-weight: 600;
  border: none;
  transition: 0.3s;
}

.btn-login:hover {
  background: #6c2dc4;
  transform: translateY(-2px);
  box-shadow: 0 1px 15px #995af2;
}

.icon {
  position: relative;
  color: white;
  margin-right: 12px;
}

.icon::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #995af2;
  z-index: -1;
  left: -8px;
  top: -2px;
  transform: rotate(45deg);
  border-radius: 4px;
  transition: transform 0.1s linear;
}

.icon-brand {
  color: #995af2;
}

.navbar-brand:hover .icon::before {
  transform: rotate(0deg);
}

/* Home page style */
#home {
  color: white;
  min-height: calc(100vh - 150px);
  position: relative;
  overflow: hidden;
}

#canvas {
  position: absolute;
  inset: 0;
  z-index: 1;
  pointer-events: none;
}

#home::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  filter: brightness(1) contrast(0.2);
  z-index: -999;
}

#home .title-container {
  padding: 4px 12px;
  border: 2px solid #995af2;
  border-radius: 20px;
  color: #995af2;
  background-color: rgba(153, 90, 242, 0.1);
}

#home .title {
  position: relative;
  font-family: "Rajdhani";
  font-size: 6rem;
  font-weight: 800;
}

#home .title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: -10px;
  background: radial-gradient(rgba(153, 90, 242, 0.1), transparent 70%);
  filter: blur(20px);
  z-index: -1;
}

#home .sub-title {
  color: #94a3b8;
  font-size: 1.5rem;
  width: 50%;
}

#home #title-gradient {
  background: linear-gradient(to right, #9d5aef, #e649b8);
  color: transparent;
  background-clip: text;
}

#home .btn-home-find {
  background: #995af2;
  border-radius: 50px;
  padding: 1rem;
  color: #94a3b8;
  transition: color 0.2s linear;
}

#home .btn-home-join {
  background-color: rgba(153, 90, 242, 0.1);
  border: 2px solid #995af2;
  border-radius: 50px;
  padding: 1rem;
  color: #94a3b8;
  transition: color 0.2s linear;
}

#home .btn-home-find:hover,
#home .btn-home-join:hover {
  color: #fff;
}

@media (max-width: 760px) {
  #home .title {
    font-size: 4rem;
  }

  #home .sub-title {
    color: #94a3b8;
    font-size: 1rem;
    width: 100%;
  }
}
