.container-article {
  color: #94a3b8;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
  margin: auto;
}

.card-featured {
  width: 100%;
  background-color: #191c25;
  border: 1px solid #9d5aef;
  border-radius: 12px;
}

.featured-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.featured-content {
  padding: 1rem;
}

.card-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: #191c25;
  border: 1px solid #9d5aef;
  border-radius: 12px;
  padding: 1rem;
}

.list-text {
  flex: 1;
}

.list-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.content-summary {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: pointer;
}

.content-summary.expanded {
  display: block;
  -webkit-line-clamp: unset;
  line-clamp: unset;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  color: #9d5aef !important;
}

#canvas2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -999;
}

.btn-like,
.share-btn {
  border: none;
  background: none;
  color: #9d5aef;
}

.heart-icon {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.heart-icon:active {
  transform: scale(1.4);
}

.bi-heart-fill {
  color: #9d5aef;
}

.title {
  font-family: "Rajdhani";
  background: linear-gradient(to right, #6c2dc4, #fff);
  color: transparent;
  background-clip: text;
  font-weight: 800;
}

.container-single-article {
  width: 80%;
  border: 1px solid #6c2dc4;
  background: #191c25;
  border-radius: 12px;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .container-single-article {
    width: 100%;
  }

  .card-list {
    flex-direction: column-reverse;
    padding: 0;
  }

  .list-text {
    padding: 1rem;
  }

  .list-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 12px 12px 0 0;
  }
}

.dropdown {
  padding-top: 1rem;
}

.dropdown button {
  background: linear-gradient(to right, #9d5aef, #e649b8);
  border: none;
  outline: none;
}

.dropdown ul {
  background-color: #191c25;
  border: 1px solid #9d5aef;
}

.dropdown a {
  color: #fff;
}
