.container-article {
  color: #94a3b8;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 100%;
  margin: auto;
}

.card-featured {
  width: 100%;
  background-color: #191c25;
  border: 1px solid #9d5aef;
  padding: 1rem;
  border-radius: 12px;
}
.featured-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
  background-color: #191c25;
  border: 1px solid #9d5aef;
  border-radius: 12px;
  padding: 1rem;
}
.list-text {
  flex: 1;
}
.list-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

#canvas2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -999;
}

.btn-like,
.share-btn {
  border: none;
  background: none;
  color: #9d5aef;
}

.heart-icon {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.heart-icon:active {
  transform: scale(1.4);
}

.bi-heart-fill {
  color: #9d5aef;
}

.title {
  font-family: "Rajdhani";
  background: linear-gradient(to right, #6c2dc4, #fff);
  color: transparent;
  background-clip: text;
  font-weight: 800;
}

.container-single-article {
  width: 80%;
  border: 1px solid #6c2dc4;
  background: #191c25;
  border-radius: 12px;
  color: #94a3b8;
}

@media (max-width: 768px) {
  .container-single-article {
    width: 100%;
  }
}
