<div class="flash-message">
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, msg in messages %}
  <div
    class="alert alert-dismissible fade show alert-{{ category }}"
    role="alert"
  >
    {{ msg }}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %} {% endif %} {% endwith %}
</div>
<div
  id="home"
  class="d-flex flex-column align-items-center justify-content-center"
>
  <canvas id="canvas"></canvas>
  <div class="title-container d-flex gap-2 align-items-center mb-4">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="18"
      height="18"
      fill="currentColor"
      class="bi bi-lightning-charge"
      viewBox="0 0 16 16"
    >
      <path
        d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41z"
      />
    </svg>
    <span>THE FUTURE OF COMPETITIVE GAMING</span>
  </div>
  <h1 class="text-center title">
    DOMINATE <br />THE <span id="title-gradient">ARENA</span>
  </h1>
  <p class="sub-title mb-4 text-center">
    Join the elite. Compete in top-tier tournaments, track your progress, and
    rise to glory.
  </p>
  <div class="d-flex gap-4">
    <a href="#" class="btn btn-home-find">Browse Tournaments</a>
    <a href="#" class="btn btn-home-join">Login or Register</a>
  </div>
</div>
