<div class="container">
  <hr class="my-5 border-secondary" />

  <div class="row align-items-center">
    <div class="col-md-6 text-center text-md-start">
      <a class="navbar-brand" href="{{ url_for('index') }}"
        ><span class="icon">E</span>SPORTS<span class="icon-brand"
          >NEWS</span
        ></a
      >
    </div>
    <div class="col-md-6 text-center text-md-end mt-3 mt-md-0">
      <div class="footer-bottom-links">
        <a href="#" class="text-secondary text-decoration-none me-3"
          >&copy; 2025 • Robin Ndraha</a
        >
      </div>
    </div>
  </div>
</div>
